<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stevie.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>350B32B3FAFBD512A826111B9142C7F7B8A24BEB</string>
				<key>dateExpires</key>
				<string>4/3/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ABQYBUVRDT.com.dc.Stevie</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ABQYBUVRDT</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ABQYBUVRDT.com.dc.Stevie</string>
				</array>
			</dict>
			<key>name</key>
			<string>Stevie.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7b120364-4613-48e3-a816-07a73a9fb9f0</string>
				<key>dateExpires</key>
				<string>4/3/22</string>
				<key>name</key>
				<string>Stevie Provisioning Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ABQYBUVRDT</string>
				<key>name</key>
				<string>Daniel Cappello</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
